*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: sticky;
    
}

.navBar {
    display: flex;
    list-style: none;
    gap: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    max-height: 96px;
    align-items: center;
    

}

.navBar li a {
    text-decoration: none;
    color: #212121;
    font-size: 1rem;
    font-family: Quicksand;
}

.botonPrincipal {
    background-color:#365902;
    border-radius: 30px;
    padding: 16px 24px;
    color:white;
    font-size: 1rem;
    border: 1px;
    text-decoration: none;
    font-family: Quicksand;

    
}
/*----------------*/
.receta {
    display: grid;
    grid-template-columns: repeat(12, 78px); 
    grid-template-rows: repeat(8,auto);
    gap: 24px; 
    padding: 20px; 
    max-width: 1200px; 
    margin: 0 auto; 

}

.titulo {
    grid-column: 1 / span 9;
}

.titulo h2 {
    font-family: Quicksand;
    font-size: 2.5625rem;
    text-align: left;
    padding-top: 6rem;

}

.guardarEn {
    grid-column: 11 / span 2;
}

.guardarEn {
    display: flex;
    align-items: center;
}
.icono {
    width: 24px; 
    height: 24px;
    margin-right: 5px; 
    vertical-align: middle; 
}

label {
    cursor: pointer; 
    text-decoration: none; 
}

.guardarEn label {
    font-family: Quicksand;
    font-size: 16px;
    color: #9E9E9E;
}


.calificacion {
    grid-column: 1 / span 2;
}

.calificacion p {
    font-family: Quicksand;
    font-size: .875rem;
}

.imagen-principal {
    
    grid-column: 1 / span 12;
    height: 390px;
    border-radius: 20px;
    background-size:unset;
    background-position:absolute;
    object-fit: cover;
}

.ingredientes {
    grid-column: 1 / span 6;
}

.ingredientes h2 {
    font-family: Quicksand;
    font-size: 2rem;
    padding-top: 3rem;
    padding-bottom: 2rem;

}
.lista-ingredientes {
    grid-column: 1 / span 6;
    list-style: none;
    padding: 0;
    li {
        border-bottom: 1px solid #ddd;
    }
}

.lista-ingredientes li {
    font-family: Quicksand;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding-top: 1rem;
    padding-bottom: 1rem;

}

.lista-ingredientes span {
    color: #A62F14;
}

.instrucionesReceta {
    grid-column: 1 / span 6

}

.instrucionesReceta h2 {
    font-family: Quicksand;
    font-size: 2rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.instrucionesReceta h3 {
    font-family: Quicksand;
    font-weight: 400;
    font-size: 1.4375rem;
    padding-bottom: 2rem;
}

.instrucionesReceta p {
    font-family: Quicksand;

}

.imagen-paso {
    border-radius: 10px;
    padding-top: 2rem;

}

.divider {
    grid-column: 1 / span 6;
    background-color: #ccc;
    height: 1px;
    
}

.recetasRelacionadaS {
    grid-column: 1 / span 6;
}

.recetasRelacionadaS h2 {
    font-family: Quicksand;
    font-size: 2rem;
    

}
.card1 {
    grid-column: 1/span 3; 
    padding-right: 24px;
}

.card2 {
    grid-column: 4 /span 3; 
    padding-right: 24px;
}

.card3 {
    grid-column: 7 /span 3; 
    padding-right: 24px;
}

.card4 {
    grid-column: 10 /span 3; 
    padding-right: 24px;
}

.container-card {
    padding: 16px;
    width: 282px;
    height: 361px;
    border-radius: 20px;
    background-color: #F1F1F1; 
    transition: all 400ms ease;
}

.container-card:hover{
    box-shadow: 5px 5px 20px rgba (0,0,0,2);
    transform:translateY(-3%);
}

.container-interno {
    width: 250px;
    height: 329px;
    padding: 16px;
    margin: 0 auto; 
}

.imagen {
    width: 100%;
    height: 198px;
    border-radius: 10px;
    object-fit: cover; 
}

.titulo {
    font-family: Quicksand;
    font-size: 1.4375rem;
    text-align: left;
    font-weight: 400;
    margin-top: 10px;
}

.container-calificacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.container-calificacion {
    font-family: Quicksand;
    font-size: .875rem;
    display: flex;
    align-items: center;
}

.footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 50px);
    gap: 16px; /* Espacio entre las celdas */
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 6rem;
}

.logo {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    padding-bottom: 3rem;
}

.datos {
    display: flex;
    justify-content: flex-start;
    gap: 32px;
    margin: 0px;
    grid-column: 1 / span 6;
    grid-row: 2 / span 4;
    padding-top: 1.5rem;
}

.datos h2 {
    font-family: Quicksand;
    font-size: 1.125rem;
    font-weight: 500;
}

.datos p {
    font-family: Quicksand;
    font-size: 1rem;
    font-weight: 300;
    padding-top: 1rem;
}

.containerFollow {
    align-items: start;
    grid-column: 9 / span 2;
    grid-row: 4 / span 1;
    text-align: center;

}
.descargaDely {
    display: flex;
    justify-content: flex-start;
    grid-column: 9 / span 2;
    grid-row: 2 / span 1;
    text-align: center;
    padding-top: 1.5rem;
}

.descargaDely h2 {
    font-family: Quicksand;
    font-size: 1.125rem;
    font-weight: 500; 
}

.botonesTienda {
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    grid-column: 9 / span 2;
    grid-row: 3 / span 1;
    gap: 16px;
}
.descargaApple {
    grid-column: 11 / span 2;
    grid-row: 3 / span 2;
    text-align: center;
}

.descargaAndroid {
    grid-column: 9 / span 2;
    grid-row: 3 / span 2;
    text-align: center;
}

.sigue-dely {
    grid-column: 9 / span 2;
    grid-row: 4 / span 1;
    text-align: center;
}

.sigue-dely h2 {
    font-family: Quicksand;
    font-size: 1.125rem;
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
}


.redes-sociales {
    grid-column: 9 / span 2;
    grid-row: 5 / span 1;
    display: flex;
    gap: 16px;
    justify-content:flex-start;
    padding-top: 1rem;
}

.redes-sociales button {
    margin: 0 5px;
}

.dividerFooter {
    grid-column: 1 / span 12;
    grid-row: 6 / span 1;
    background-color: #ccc;
    height: 1px;
    
}

.derechos {
    grid-column: 1 / span 2;
    grid-row: 6 / span 1;
    text-align: left;
    padding-top: 16px;
    font-family: Quicksand;
    font-size: .875rem;
}

.politica {
    grid-column: 11 / span 2;
    grid-row: 6 / span 1;
    text-align: right;
    padding-top: 16px;
    font-family: Quicksand;
    font-size: .875rem;
}

@media (max-width: 744px) {
    .receta {
        display: grid;
        grid-template-columns: repeat(8, 78px); 
        grid-template-rows: repeat(8,auto);
        gap: 24px; 
        padding: 20px; 
        max-width: 604px; 
        margin: 0 auto; 
    }

    .titulo {
        grid-column: 1 / span 6;
    }
    
    .titulo h2 {
        font-family: Quicksand;
        font-size: 2rem;
        text-align: left;
        padding-top: 6rem;
    
    }
    
    .guardarEn {
        grid-column: 10 / span 2;
    }
    
    .guardarEn {
        display: flex;
        align-items: center;
    }
    .icono {
        width: 20px; 
        height: 20px;
        margin-right: 5px; 
        vertical-align: middle; 
    }
    
    label {
        cursor: pointer; 
        text-decoration: none; 
    }
    
    .guardarEn label {
        font-family: Quicksand;
        font-size: 16px;
        color: #9E9E9E;
    }
    
    
    .calificacion {
        grid-column: 1 / span 2;
    }
    
    .calificacion p {
        font-family: Quicksand;
        font-size: .875rem;
    }
    
    .imagen-principal {
        
        grid-column: 1 / span 5;
        height: 390px;
        border-radius: 20px;
        background-size:unset;
        background-position:absolute;
        object-fit: cover;
    }
    
    .ingredientes {
        grid-column: 4 / span 6;
    }
    
    .ingredientes h2 {
        font-family: Quicksand;
        font-size: 2rem;
        padding-top: 3rem;
        padding-bottom: 2rem;
    
    }
    .lista-ingredientes {
        grid-column: 1 / span 6;
        list-style: none;
        padding: 0;
        li {
            border-bottom: 1px solid #ddd;
        }
    }
    
    .lista-ingredientes li {
        font-family: Quicksand;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        padding-top: 1rem;
        padding-bottom: 1rem;
    
    }
    
    .lista-ingredientes span {
        color: #A62F14;
    }
    
    .instrucionesReceta {
        grid-column: 4 / span 5
    
    }
    
    .instrucionesReceta h2 {
        font-family: Quicksand;
        font-size: 2rem;
        padding-top: 3rem;
        padding-bottom: 2rem;
    }
    
    .instrucionesReceta h3 {
        font-family: Quicksand;
        font-weight: 400;
        font-size: 1.4375rem;
        padding-bottom: 2rem;
    }
    
    .instrucionesReceta p {
        font-family: Quicksand;
    
    }
    
    .imagen-paso {
        border-radius: 10px;
        padding-top: 2rem;
    
    }
    
    .divider {
        grid-column: 4 / span 6;
        background-color: #ccc;
        height: 1px;
        
    }

    .recetasRelacionadaS {
        grid-column: 4 / span 6;
    }
    
    .recetasRelacionadaS h2 {
        font-family: Quicksand;
        font-size: 2rem;
        text-align: center;
        
    
    }
    .card1 {
        grid-column: 4 /span 3; 
        padding-right: 24px;
    }
    
    .card2 {
        grid-column: 7 /span 3; 
        padding-right: 24px;
    }
    
    .card3 {
        grid-column: 4 /span 3; 
        padding-right: 24px;
    }
    
    .card4 {
        grid-column: 7 /span 3; 
        padding-right: 24px;
    }
    

}