@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: sticky;
    
}

.navBar {
    display: flex;
    list-style: none;
    gap: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    max-height: 96px;
    align-items: center;
    

}

.navBar li a {
    text-decoration: none;
    color: #212121;
    font-size: 1rem;
    font-family: Quicksand;
}

.botonPrincipal {
    background-color:#365902;
    border-radius: 30px;
    padding: 16px 24px;
    color:white;
    font-size: 1rem;
    border: 1px;
    text-decoration: none;
    font-family: Quicksand;

    
}

.hero {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 100px);
    gap: 32px;
    
}

.container-content {
    grid-column: 4 / span 6; /* Ocupa 6 columnas a partir de la 3 */
    grid-row: 3 / span 4;
    font-size: 64px;
    text-align: center;
}

.container-content h1 {
    margin-bottom: 1.5rem;
    font-family: Quicksand;
}

.input-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 4 / span 6; /* Ocupa 6 columnas a partir de la 3 */
    grid-row: 6 / span 2;
    gap: 3rem;
}

input {
    grid-column: 3 / span 6;
    grid-row: 4 / span 4;
    width: 384px;
    height: 44px;
    border-radius: 8px;
    padding: 5px 10px;
}

.input-button input::placeholder{
    text-align: center;
    font-family: Quicksand;
    color: #212121;
}

button {
    grid-column: 3 / span 6;
    grid-row: 5 / span 4;
    width: 180px;
    height: 56px;
    background-color: #365902;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-family: Quicksand;
    font-size: 16px;
}

.image.top-left {
    width: 100%;
    height: 100%;
    grid-column: 1 / span 2;
    grid-row: 1 / span 4;
}

.image.top-right {
    width: 60%;
    height: 60%;
    grid-column: 9 / span 4;
    grid-row: 2 / span 4;
}

.image.bottom-left {
    width: 60%;
    height: 60%;
    grid-column: 3 / span 4;
    grid-row: 6 / span 4;
}

.image.bottom-right {
    width: 100%;
    height: 100%;
    grid-column: 7 / span 6;
    grid-row: 6 / span 4;
}

.image {
    object-fit: cover;
}

.contenidoRefri {
    background-color: #365902;
    text-align: center;
    padding-bottom: 6rem;
    padding-top: 6rem;
}

.contenidoRefri h2 {
    font-family: Quicksand;
    font-size: 2.5625rem;
    color: white;
    
}

.contenidoRefri p {
    font-family: Quicksand;
    font-size: 1.4375rem;
    color: white;
    padding-bottom: 2rem;
}

.tituloSeccion h2 {
    padding-top: 6rem;
    font-family: Quicksand;
    font-size: 2.5625rem;
    text-align: center;
    
}

.tituloSeccion h1{
    padding-top: 6rem;
    padding-bottom: 1rem;

}

.queTeOfrecemos p {
    font-family: Quicksand;
    font-size: 1.4375rem;
    text-align: center;
    padding-bottom: 2rem;
}


.containerCd{
    width: 384px;
    height: 384px;
    background-color: white;
    border-radius: 20px;

}

.cardsBeneficios{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 3rem;
    padding-bottom: 6rem;
    text-align: center;
}

.cardsBeneficios h2 {
    font-family: Quicksand;
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}

.cardsBeneficios p {
    font-family: Quicksand;
    font-size: 16px;
}

.containerCd div img{
    padding-bottom: 1rem;
}
/*breakfast section*/
.recetasDesayuno h2 {
    font-family: Quicksand;
    font-size: 2.5625rem;
    text-align: center;
}

.recetasDesayuno p {
    font-family: Quicksand;
    font-size: 1.4375rem;
    text-align: center;
    padding-bottom: 2rem;
}

.container-card {
    padding: 16px;
    width: 282px;
    height: 361px;
    border-radius: 20px;
    background-color: #F1F1F1; 
    transition: all 400ms ease;
}

.container-card:hover{
    box-shadow: 5px 5px 20px rgba (0,0,0,2);
    transform:translateY(-3%);
}
.container-interno {
    width: 250px;
    height: 329px;
    padding: 16px;
    margin: 0 auto; 
}

.imagen {
    width: 100%;
    height: 198px;
    border-radius: 10px;
    object-fit: cover; 
}

.container-cards h3 {
    font-size: 1.4375rem;
    text-align: left;
    font-weight: 400;
    margin-top: 10px;
    font-family: Quicksand;
}

.container-calificacion {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.container-calificacion {
    font-family: Quicksand;
    font-size: .875rem;
}

.container-calificacion div p {
    font-size: 14px;
}

/* cierre de bloque */

.container-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    gap: 1.5rem;
    padding-bottom: 6rem;
}
/*banner store section*/
.appBanner{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    background-color: #5B793E;
    width: 1700px;
    height: 828px;
    border-radius: 20px;
    padding-top: 80px;
    margin: auto;
}

.textContenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    padding-left: 124px;
}

.textContenido h2 {
    font-family: Quicksand;
    font-size: 4rem;
    color: white;
    padding-right: 3rem;
    padding-bottom: 24px;
}

.textContenido p {
    font-family: Quicksand;
    color: white;
    font-size: 1.4375rem;
    padding-bottom: 24px;  
}

.IMG {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items:center;
}
/*food section*/
.recetasComida h2 {
    font-family: Quicksand;
    font-size: 2.5625rem;
    text-align: center;
    padding-top: 6rem;
}

.recetasComida p {
    font-family: Quicksand;
    font-size: 1.4375rem;
    text-align: center;
    padding-bottom: 2rem;
}

.containerCard h1{
    padding: 1rem;
    font-size: 1.4375rem;
    font-weight: 500;
    color: #212121;
}
.containerCard div p {
    font-size: .875rem;
    font-weight: 500;
    color: #212121;
}

.recetasCena h2 {
    font-family: Quicksand;
    font-size: 2.5625rem;
    text-align: center;
    padding-top: 6rem;
}

.recetasCena p {
    font-family: Quicksand;
    font-size: 1.4375rem;
    text-align: center;
    padding-bottom: 2rem;
}

.containerCard h1{
    padding: 1rem;
    font-size: 1.4375rem;
    font-weight: 500;
    color: #212121;
}
.containerCard div p {
    font-size: .875rem;
    font-weight: 500;
    color: #212121;
}
/*banner newletter section*/
.banner {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 100px);
    gap: 32px;
    background-color: #A62F14;
    width: 1700px;
    height: auto;
    border-radius: 20px;
    padding-top: 0px;
    margin: auto; 
}

.imagen-superior {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: 10 / span 3;
    grid-row: 1 / span 3;
    justify-self: end;

}

.contenido {
    padding-top: 2.5rem;
    grid-column: 4 / span 6;
    grid-row: 3 / span 3;
    text-align: center;
}

.imagen-inferior {
    grid-column: 1 / span 3;
    grid-row: 5 / span 3;
    width: 100%;
    height: 100%;
    object-fit: cover;
    justify-self: start;
}

.contenido h2 {
    margin-bottom: 20px;
    font-family: Quicksand;
    font-size: 4rem;
    color: white;
    color: #fff;
    margin-bottom: 20px;
}

.contenido p {
    margin-bottom: 24px;
    font-family: Quicksand;
    font-size: 1.4375rem;
    color: white;
}

.banner input[type="text"] {
    font-family: Quicksand; 
    padding: 10px;
    background-color: #A62F14;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    margin-right: 16px;
}

input::placeholder{
    text-align: center;
    font-family: Quicksand;
    color: white;
}

.banner button {
    font-family: Quicksand;
    padding: 10px 20px;
    background-color: #365902;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
/*footer section*/ 
.footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 50px);
    gap: 16px; 
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 6rem;
}

.logo {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    padding-bottom: 3rem;
}

.datos {
    display: flex;
    justify-content: flex-start;
    gap: 32px;
    margin: 0px;
    grid-column: 1 / span 6;
    grid-row: 2 / span 4;
    padding-top: 1.5rem;
}

.datos h2 {
    font-family: Quicksand;
    font-size: 1.125rem;
    font-weight: 500;
}

.datos p {
    font-family: Quicksand;
    font-size: 1rem;
    font-weight: 300;
    padding-top: 1rem;
}

.containerFollow {
    align-items: start;
    grid-column: 9 / span 2;
    grid-row: 4 / span 1;
    text-align: center;

}
.descargaDely {
    display: flex;
    justify-content: flex-start;
    grid-column: 9 / span 2;
    grid-row: 2 / span 1;
    text-align: center;
    padding-top: 1.5rem;
}

.descargaDely h2 {
    font-family: Quicksand;
    font-size: 1.125rem;
    font-weight: 500; 
}

.botonesTienda {
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    grid-column: 9 / span 2;
    grid-row: 3 / span 1;
    gap: 16px;
}
.descargaApple {
    grid-column: 11 / span 2;
    grid-row: 3 / span 2;
    text-align: center;
}

.descargaAndroid {
    grid-column: 9 / span 2;
    grid-row: 3 / span 2;
    text-align: center;
}

.sigue-dely {
    grid-column: 9 / span 2;
    grid-row: 4 / span 1;
    text-align: center;
}

.sigue-dely h2 {
    font-family: Quicksand;
    font-size: 1.125rem;
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
}


.redes-sociales {
    grid-column: 9 / span 2;
    grid-row: 5 / span 1;
    display: flex;
    gap: 16px;
    justify-content:flex-start;
    padding-top: 1rem;
}

.redes-sociales button {
    margin: 0 5px;
}

.divider {
    grid-column: 1 / span 12;
    grid-row: 6 / span 1;
    background-color: #ccc;
    height: 1px;
    
}

.derechos {
    grid-column: 1 / span 2;
    grid-row: 6 / span 1;
    text-align: left;
    padding-top: 16px;
    font-family: Quicksand;
    font-size: .875rem;
}

.politica {
    grid-column: 11 / span 2;
    grid-row: 6 / span 1;
    text-align: right;
    padding-top: 16px;
    font-family: Quicksand;
    font-size: .875rem;
}